<main class="wide-container">

    <div class="breadcrumbs-stripe">
        <div class="content-container">
            <ol class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumbs__item active">Confirm Email</li>
            </ol>
        </div>
    </div>
    <section class="stripe-section single-column-content donate-content">
        <div class="content-container">
            <div class="block-rich_text">
                <div class="rich-text">
                    <h2>Check your Email</h2>
                    <p>
                        An confirmation email has ben sent to your email address,
                        if you can't find it, check in spam.
                    </p>
                </div>
            </div>
            <div class="block-html">
                <div class="donately-form"></div>

            </div>
        </div>
    </section>

</main>
<script>
    setTimeout(() => {
        window.location.href = `/dashboard`

    }, 1500)
</script>