<main>
    <section id="login">
        <h2>
            Login
        </h2>
        <form action="" method="post">
            <label for="">
                <input type="text" required>
                <p>Username</p>
            </label>
            <label for="">
                <input type="password" name="" id="" required>
                <p>Password</p>
            </label>
            <input type="submit" value="Sign Up">
        </form>
    </section>




</main>