<main>
    <section id="login">
        <h2>
            Login
        </h2>
        <form action="/login" method="post">
            <label for="">
                <input type="text" name="email" required>
                <p>Email</p>
            </label>
            <label for="">
                <input type="password" name="password" id="" required>
                <p>Password</p>
            </label>
            <input type="submit" value="Sign Up">
        </form>
    </section>




</main>