<main>
    <section id="signup">
        <h2>
            Sign Up
        </h2>

        <form action="/register" method="post">
            <label for="">
                <input type="text" name="userName">
                <p>Username</p>
            </label>
            <label for="">
                <input type="email" name="email" id="">
                <p>Email Address</p>
            </label>
            <label for="">
                <input type="password" name="password">
                <p>Make a password</p>
            </label>
            <label for="">
                <input type="password" name="password2" id="">
                <p>Confirm password</p>
            </label>

            <input type="submit" value="Sign Up">
        </form>
    </section>
</main>




</main>