@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --bg: #f3f4f5;
  --sub-bg: #e3e3e3;
  --prim-color: #832e8e;
  --transparent: #832e8e00;
  --sub-prim-color: #f3f4f5;
  --border-rad-1: 10px;
  --button-active: #398e2e;
}

body {
  font-size: 18px;
  background-color: var(--bg);
  min-height: 100vh;
}

body h1 {
  font-size: 3em;
}

body h2 {
  font-size: 2em;
}

body h3 {
  font-size: 1.4em;
}

body h4 {
  font-size: 1.24em;
}

body h5 {
  font-size: 1.1em;
}

body button {
  background-color: var(--button-active);
  padding: 10px 20px;
  color: white;
  border: none;
}

header {
  height: 10vh;
  background-color: var(--prim-color);
  color: white;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  background-color: var(--bg);
  padding: 0 5%;
  padding-top: 10%;
  text-align: center;
}

section h2 {
  margin-bottom: 50px;
}

section#intro {
  min-height: 90vh;
  padding-top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: var(--prim-color);
}

section#about ul {
  display: -ms-grid;
  display: grid;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  grid-auto-rows: 200px;
}

section#about ul li {
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: var(--border-rad-1);
  background-color: var(--sub-bg);
}

section#about ul li h4 {
  padding-bottom: 10px;
}

section#how {
  min-height: auto;
}

section#dashboard {
  padding: 10% 5%;
}

section#dashboard ul {
  display: -ms-grid;
  display: grid;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  grid-auto-rows: 200px;
}

section#dashboard ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: var(--border-rad-1);
  background-color: var(--sub-bg);
  padding: 10px;
  overflow: hidden;
}

section#dashboard ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--prim-color);
}

section#dashboard ul li sub {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  height: 30vh;
  background-color: #444;
  color: white;
  padding: 10px;
}

.messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  border-radius: var(--border-rad-1);
  background-color: var(--sub-bg);
  padding: 20px;
  margin: 20px 0;
  overflow: hidden;
  min-height: 300px;
}

.messages .message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--prim-color);
}

form {
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  margin-bottom: 20px;
}

form label input {
  padding: 10px;
  border: none;
  outline: 2px solid var(--transparent);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

form label input:focus-within {
  outline: 1px solid var(--prim-color);
}

form > input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 20px;
  border: none;
  background-color: var(--button-active);
}

main {
  min-height: 60vh;
}
/*# sourceMappingURL=style.css.map */