@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
//240538
//398E2E
//832F8F
:root {
  --bg: #f3f4f5;
  --sub-bg: #e3e3e3;
  //hsl(293, 21%, 90%);
  --prim-color: #832e8e;
  --transparent: #832e8e00;
  --sub-prim-color: #f3f4f5;
  --border-rad-1: 10px;
  --button-active: #398e2e;
}
body {
  font-size: 18px;
  background-color: var(--bg);
  min-height: 100vh;

  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.24em;
  }
  h5 {
    font-size: 1.1em;
  }
  button {
    background-color: var(--button-active);
    padding: 10px 20px;
    color: white;
    border: none;
  }
}

header {
  height: 10vh;
  background-color: var(--prim-color);
  color: white;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

section {
  background-color: var(--bg);
  padding: 0 5%;
  padding-top: 10%;
  text-align: center;
  h2 {
    margin-bottom: 50px;
  }
  &#intro {
    min-height: 90vh;
    padding-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: var(--prim-color);
  }
  &#about {
    ul {
      display: grid;
      height: min-content;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 50px;
      grid-auto-rows: 200px;
      li {
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: var(--border-rad-1);
        background-color: var(--sub-bg);

        h4 {
          padding-bottom: 10px;
        }
      }
    }
  }
  &#how {
    min-height: auto;
  }
  &#dashboard {
    padding: 10% 5%;
    ul {
      display: grid;
      height: min-content;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;

      grid-auto-rows: 200px;
      li {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: var(--border-rad-1);
        background-color: var(--sub-bg);
        //max-width: 400px;
        padding: 10px;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 5px;
          background-color: var(--prim-color);
        }
        sub {
          // background-color: yellow;
          align-self: flex-end;
        }
      }
    }
    .username {
      position: relative;
      &::after {
        content: "basic";
        position: absolute;
        font-size: 12px;
        background-color: var(--sub-bg);
        padding: 2px 5px;
        border-radius: 12px;
      }
    }
  }
}

footer {
  height: 30vh;
  background-color: #444;
  color: white;
  padding: 10px;
}

.messages {
  .message {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    border-radius: var(--border-rad-1);
    background-color: var(--sub-bg);
    padding: 20px;
    margin: 20px 0;
    overflow: hidden;
    min-height: 300px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      background-color: var(--prim-color);
    }
  }
}

form {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 20px;
    input {
      padding: 10px;
      border: none;
      outline: 2px solid var(--transparent);
      transition: 0.1s;
      &:focus-within {
        outline: 1px solid var(--prim-color);
      }
    }
  }
  > input {
    align-self: center;
    padding: 10px 20px;
    border: none;
    background-color: var(--button-active);
  }
}

main {
  min-height: 60vh;
}

.button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: var(--border-rad-1);
  color: white;
  background-color: var(--button-active);
}

.line-list {
  li {
    list-style: inside;
    text-align: left;
    background-color: var(--sub-bg);
    padding: 10px;
    margin-bottom: 10px;
  }
}
